.box {
    width:70%;
    padding: 2em;
    background-color:#f2f2f2;
    margin:40px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}
