.box {
    width:70%;
    padding: 2em;
    background:#f2f2f2;
    margin:40px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.navigation-btn {
  background: #ff6193;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  transition: 0.1s ease-in-out;
}

.navigation-btn:hover {
  box-shadow: 1px 1px 1px #888888;
}

h3 {
  text-align: center;
}
