<div class="col-md-4 col-md-offset-4">
  <ul class="breadcrumb">
    <li><a (click)="goToStep('')">Settings</a></li>
    <li><a (click)="goToStep('template')">Template</a></li>
    <li class="active">Schedule</li>
    <li><a (click)="goToStep('confirmation')">Confirmation</a></li>
  </ul>
</div>

<div class="container col-md-8 col-md-offset-2">
  <button style="float:left; display:inline;" (click)="goToStep('template')" class="navigation-btn">
    Previous
  </button>
  <button style="float:right; display:inline;" (click)="goToStep('confirmation')" class="navigation-btn">
    Next
  </button>
</div>

<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="box">
      <h3>Campaign Schedule</h3>
      <label class="btn btn-primary" [(ngModel)]="scheduling" btnRadio="sendNow" ngDefaultControl>Send Now</label>
      <label class="btn btn-primary" [(ngModel)]="scheduling" btnRadio="schedule" ngDefaultControl>Schedule</label>
      <div *ngIf="scheduling=='schedule'">
        <p *ngIf="scheduling == 'schedule'">Campaign will be sent on {{schedule}}</p>
        <date-time-picker *ngIf="scheduling == 'schedule'" [(ngModel)]="schedule" ngDefaultControl>Loading...</date-time-picker>
      </div>
    </div>
  </div>
</div>
