<alert dismissOnTimeout="3000" *ngFor="let alert of alerts;let i = index"
       [type]="alert.type" dismissible="true" (close)="closeAlert(i)">
    {{ alert?.msg }}
</alert>

<form #form (ngSubmit)="importMailingList()">
    <label for="new-mailing-list-name">{{ mailingListNameLabel }}</label>
    <div class="form-group">
        <input required type="text" name="new-mailing-list-name" class="form-control"
               id="new-mailing-list-name" [ngModel]="mailingListName"
               (ngModelChange)=onNameChange($event) #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ nameMissingError }}
        </div>
        <div *ngIf="nameAlreadyExists()" class="alert alert-danger">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            {{ nameTakenError }}
        </div>
    </div>

    <label for="new-mailing-list-description">{{ mailingListDescriptionLabel }}</label>
    <div class="form-group">
        <textarea class="form-control" name="new-mailing-list-description"
               id="new-mailing-list-description" [ngModel]="mailingListDescription"
               (ngModelChange)=onDescriptionChange($event)></textarea>
    </div>

    <div class="form-group">
        <span class="btn btn-primary btn-file">
            {{ chooseFile }}
            <input required id="file" type="file" name="file"
                   class="form-control" (change)="loadFile($event)" accept=".csv">
        </span>
        <span id="filename">{{file ? file.name : noFileChosen}}</span>
        <div id="acceptedFormats">{{ acceptedFormats }}</div>
        <div id="acceptedContent">{{ acceptedContent }}</div>
    </div>
    <br>
    <button type="submit" class="import-mailing-list-button btn btn-success" [disabled]="!name.valid || nameAlreadyExists()">
        {{ importButtonLabel }}
    </button>
    <button type="button" class="reset-form-button btn btn-danger" (click)="reset()">
        {{ resetButtonLabel }}
    </button>
</form>
