.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#fileName {
    color: #0074D9;
}

#fileError {
    font-size: 11px;
    color: #a94442;
}

#importSuccess {
    font-size: 12px;
    color: #42A948;
}

#acceptedFormats, #acceptedContent {
    padding-top: 1em;
    font-size: 11px;
    color: #0074D9;
}


