blockquote {
  padding-left: 4px;
  border-left: 2px solid gray;
}

a[href] {
  text-decoration: underline;
}

.email-container {
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  padding-top: 1em;
}
