.navigation-btn {
  background: #42A948;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 7px;
  border: none;
  transition: 0.1s ease-in-out;
}

.navigation-btn:hover {
  box-shadow: 1px 1px 1px #888888;
}

.navigation-btn:disabled {
  background: #e5ac00;
}

h3 {
  text-align: center;
}
