.container {
  padding-bottom: 2em;
}

.box {
  background:#f2f2f2;
  height: 50%;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
