.box {
    padding: 1em 2em 2em 2em;
    background:#f2f2f2;
    margin-top: 40px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

#finalContent {
    background: white;
    box-shadow: 0.5px 0.5px 3px 3px #bfbfbf;
}

.container {
    padding-bottom: 2em;
}

hr {
  border-color: #b3b3b3;
}

.selected-btn {
    font-size: 10px;
    font-weight: bold;
    margin-right: 3px;
    margin-bottom: 3px;
    padding: 7px;
    border-radius: 14px;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
}

p {
    font-weight: bold;
}
